<%- include('partials/head'); %>
<header>
  <h1>Connected players:</h1>
  <ul>
    <ul id="user-list">
      <% userList.forEach(function(user) { %>
        <li><%= user %> (score: <%= scores[user] || 0 %>)</li>
      <% }); %>
    </ul> 

</header>

<section class="chat">
  <h1>Chat</h1>
  <ul></ul>
  <form action="" id="formChat">
    <input type="text" autocomplete="off" />
    <button><span>Send</span></button>
  </form>
</section>

<section class="trivia">
  <h2>Trivia</h2>
  <p id="question"></p>
  <div id="answers"></div>
</section>

<%- include('partials/footer'); %>
