<%- include('partials/head'); %> 
    <section class="index">
        <form action="" id="formName">
            <label for="name">Username</label>
            <input type="text" name="name" id="name">
            <input type="submit" value="Begin quiz!">
        </form>
    </section>

    <section>
        <h1>Chat</h1>
        <ul></ul>
        <form>
            <input type="text" autocomplete="off">
            <button><span>Send</span></button>
        </form>
    </section>

<%- include('partials/footer'); %> 